<div class="container-fluid">
  <div class="row">

    <div class="col-12">
      <div class="pt-3"></div>
      <%= render "navbar" %>
    </div>

  </div>
</div>


<div class="container-fluid">
  <div class="row">

    <div class="col-xs-8 col-sm-8 col-md-5 col-lg-2 text-left pt-3">
      <%= render "brand" %>
    </div>

    <div class="col-lg-10 pt-3"> 
      <%= render "pagination" %>
    </div>

  </div>

  <div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 offset-lg-2">
			<%= render "cards" %>
    </div>
  </div>

</div>
