    <div class="container">
      <div class="row">
        
       <div class="col-4">
		     <h1>Chris'list</h1>
			   <button type="button" class="btn btn-info btn-block">Create a Post</button>        
			   <button type="button" class="btn btn-light btn-block">My Account</button>
		 	   <button type="button" class="btn btn-outline-secondary btn-block">Search Chris'list</button>
       </div>
        
       <div class="col-7">
         navbar catagories subcatagories
       </div>
        
       <div class="col-1">
         Locations
       </div>

      </div>
    </div>

