<div class="container">
  <div class="row pt-5">
    <div class="col-8 offset-2">
      <%= render "navbar" %>
    </div>
  </div>
</div>

<div class="container">    
  <div class="row">

    <div class="col-2">
      <h1>Chris'list</h1>
      <p><button type="button" class="btn btn-primary btn-block">Create a Post</button></p>
      <p><button type="button" class="btn btn-light btn-block">My Account</button></p>
      <p><input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"></p>
    </div>
        
    <div class="col-8">
      <%= render "catagories" %>
    </div>
        
    <div class="col-2">
      <%= render "locations" %>
    </div>

  </div>
</div>
