<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">SF Bay Area</a></li>
    <li class="breadcrumb-item"><a href="/categories/antiques">Antiques</a></li>
  </ol>
</nav>
