    <div class="btn-group mx-auto pb-2" role="group" aria-label="Basic example"> 
      <a class="btn btn-secondary" href="/post/new/county" role="button">County</a>
      <a class="btn btn-secondary" href="/post/new/city" role="button">City</a>
      <a class="btn btn-secondary" href="/post/new/type" role="button">Type</a>
      <a class="btn btn-secondary" href="/post/new/category" role="button">Category</a>
      <a class="btn btn-secondary" href="/post/new/content" role="button">Content</a>
      <a class="btn btn-secondary" href="/post/new/map" role="button">Map</a>
      <a class="btn btn-secondary" href="/post/new/photos" role="button">Photos</a>
      <a class="btn btn-secondary" href="/post/new/preview" role="button">Preview</a>
    </div>
