<div class="container-fluid">
  <div class="row">
    
    <div class="col-12 mx-auto">
      <%= render "breadcrumb" %>
    </div>
  
      <%= render "button_list" %>
  </div>

  <h1 class="display-5 text-center pb-2">Write Your Posting Content:</h1>

  <div class="row mx-auto">
    <div class="col-6 mx-auto pb-3">

      <div class="row mx-auto">

        <div class="col-7">
					<div class="form-group">
						<label for="exampleInput1">Posting Title:</label>
						<input type="posting title" class="form-control" id="exampleInput1">
	 				</div>
 				</div>

				<div class="col-5">
					<label for="price">Price:</label>
					<div class="input-group pb-3">
						<div class="input-group-prepend">
							<span class="input-group-text">$</span>
						</div>
						<input type="text" class="form-control" placeholder="amount" aria-label="Amount">
					</div>
				</div>

				<div class="col-12">
					<div class="form-group">
						<label for="exampleFormControlTextarea1">Description:</label>
						<textarea class="form-control" id="exampleFormControlTextarea1" rows="7"></textarea>
		    	</div>
	  		</div>

				<div class="col-6">
					<label for="price">Condition:</label>
					<div class="form group pb-3">
						<select class="custom-select">
							<option value="1">New</option>
							<option value="2">Like new</option>
							<option value="3">Used</option>
							<option value="4">Bad</option>
						</select>
					</div>
				</div>

				<div class="col-6">
					<div class="form-group">
						<label for="exampleInput2">Make/Manufacturer:</label>
						<input type="manufacturer" class="form-control" id="exampleInput2">
					</div>
				</div>

        <div class="col-5 pb-2">
 			 	  <div class="form-group">
			 		  <label for="exampleInputEmail1">Email address</label>
			    	<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
			    </div>
        </div>
        
      </div>
    </div>
  </div>

    <div class="row">
      <div class="col-6 mx-auto pb-3">
        <p>
          <a class="btn btn-light float-right" href="/post/new/map" role="button">Next &rtrif;</a>
        </p>
      </div>
    </div>
     
</div>
