
<div class="container-fluid">
  <div class="row">

    <div class="col-12 mx-auto">
      <%= render "breadcrumb" %>
    </div>

      <%= render "button_list" %>
  </div>

  <div class="row mx-auto">
    <div class="col-7 mx-auto pb-3">

      <h1 class="display-5 text-center pb-2">Choose some Photos</h1>

      <p class="lead text-center pb-2">Copy some photo links into the box. They will show up on your post.</p>

        <div class="form-group pb-4">
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
        </div>

      <p>
        <a class="btn btn-light align-r" href="/post/new/preview" role="button">Next</a>
      </p>

    </div>
  </div>

</div>
