
<div class="container-fluid">
  <div class="row">

    <div class="col-12 mx-auto">
      <%= render "breadcrumb" %>
    </div>

      <%= render "button_list" %>
  </div>

  <h1 class="display-5 text-center pb-2">Choose some Photos</h1>
  <p class="lead text-center pb-2">Copy some photo links into the box. They will show up on your post.</p>

  <div class="row mx-auto">
    <div class="col-6 mx-auto pb-3">

        <div class="form-group pb-2">
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
        </div>

    </div>
  </div>

  <div class="row">
    <div class="col-6 mx-auto pb-3">
      <p>
        <a class="btn btn-light float-right" href="/post/new/preview" role="button">Next &rtrif;</a>
      </p>
    </div>
  </div>

</div>
