<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <%= link_to "back", "/counties/san-francisco-bay-area", class:"breadcrumb-item" %>
    <li class="breadcrumb-item"><a href="/category/antiques">Antiques</a></li>
    <%= link_to "" %>
  </ol>
</nav>
