<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <%= link_to "go back", "/counties/1",class:"breadcrumb-item" %>
    <li class="breadcrumb-item"><a href="/category/antiques">Antiques</a></li>
  </ol>
</nav>
