<ul class="nav justify-content-center bg-light text-small">
  <li><small class="nav-item navbar-text text-muted">© Chrislist 2019 </small></li>
  <li class="nav-item">
    <small><a class="nav-link" href="#">safety</a></small>
  </li>
  <li class="nav-item">
    <small><a class="nav-link" href="#">terms</a></small>
  </li>
  <li class="nav-item">
    <small><a class="nav-link" href="/posts/all">posts</a></small>
  </li>
</ul>
