<form>
  <div class="row">
    <div class="col-12 pb-1">
      <input type="text" class="form-control" placeholder="First name">
    </div>
    <div class="col-12 pb-1">
      <input type="text" class="form-control" placeholder="Last name">
    </div>
  </div>
</form>
      
<div class="pb-1">
    <div class="custom-control custom-switch">
      <input type="checkbox" class="custom-control-input" id="customSwitch1">
      <label class="custom-control-label" for="customSwitch1">Toggle</label>
    </div>
    <div class="custom-control custom-switch">
      <input type="checkbox" class="custom-control-input" id="customSwitch2">
      <label class="custom-control-label" for="customSwitch2">Toggle</label>
    </div>
</div>

<div class="pb-2">
  <select class="custom-select">
    <option selected>Choose</option>
    <option value="1">Used</option>
    <option value="2">New</option>
  </select>
</div>

<input type="range" class="custom-range" id="customRange1">

<div class="input-group pb-3">
  <div class="input-group-prepend">
    <span class="input-group-text">$</span>
  </div>
  <input type="text" class="form-control" placeholder="amount" aria-label="Amount (to the nearest dollar)">
</div>
