<form>
  <div class="form-row">
    <div class="col-12 pb-1">
      <label for="title">Sift by title:</label>
      <input type="text" method="get" name="title" id="title" class="form-control" placeholder="title" value="<%= params[:title] %>">
    </div>
    <div class="col-12 pb-1">
      <label for="min">Sift by price:</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">at least $</span>
          </div>
          <input type="text" aria-label="min price" method="get" name="min" id="min" class="form-control" placeholder="min" value="<%= params[:min] %>">
        </div>
    </div>
    <div class="col-12 pb-1">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">at most $</span>
          </div>
          <input type="text" aria-label="max price" method="get" name="max" id="max" class="form-control" placeholder="max" value="<%= params[:max] %>">
        </div>
    </div>
  </div>

  <button type="submit" class="btn btn- btn-sm">submit</button>
</form>

<div class="pb-1">
    <div class="custom-control custom-switch">
      <input type="checkbox" class="custom-control-input" id="customSwitch1">
      <label class="custom-control-label" for="customSwitch1">Toggle</label>
    </div>
    <div class="custom-control custom-switch">
      <input type="checkbox" class="custom-control-input" id="customSwitch2">
      <label class="custom-control-label" for="customSwitch2">Toggle</label>
    </div>
</div>

<div class="pb-2">
  <select class="custom-select">
    <option selected>Choose</option>
    <option value="1">Used</option>
    <option value="2">New</option>
  </select>
</div>

<input type="range" class="custom-range" id="customRange1">
