<div class="mb-3">
  <a class="text-secondary mr-2"><small>posted <%= Faker::Number.digit%> min ago</small></a>
<a href="#" class="text-secondary mx-2"><small>email to a friend</small></a>
<a href="#" class="text-secondary mx-2"><small>best of..</small></a>

</div>
