<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
  <% 5.times do %>
    <div class="card-deck pb-4">
      <div class="card shadow">

        <img src="/silas_issac.jpg" class="card-img-top" alt="...">
       
        <div class="card-body">
          <h5 class="card-title text-truncate"><%= Faker::Commerce.product_name %></h5>
          <p class="card-text font-weight-lighter">Some quick example text to build on the card title and make 
                               up the bulk of the card's content.</p>
        </div>

        <ul class="list-group list-group-flush">
          <li class="list-group-item">Cras justo odio</li>
        </ul>

        <div class="card-footer">
          <%= link_to "Visit Listing", "#{@subcategory.slug}/listing" %>
        </div>

      </div>
    </div>
  <% end %>
</div>

